.user-component{
    display: flex;
    justify-content: space-between;
    margin-bottom: 16px;
}
.user-component__column{
    display: flex;
    align-items: center;
    
}
.user-component:last-child span{
    font-weight: 600;
    color:var(--defalut-color);
    opacity: 0.5;
}
.user-component:last-child i{
    color:var(--defalut-color);
    opacity: 0.5;
    margin-left:6px;
}

.user-component__profile-img{
    margin-right:14px;
}
.user-component__profile-img--lg{
    width:64px;
    height:64px;
    border-radius: 20px;
}
.user-component__profile-img--sm{
    width: 54px;
    height:54px;
    border-radius: 18px;
}
.user-component__text--lg h4{
    font-size: 16px;
    font-weight: 700;
}
.user-component__text--sm h4{
    font-size: 14px;
    font-weight: 600;
}