.friends-names-display{
    display:flex;
    justify-content: center;
    align-items: center;
    padding:20px;
    background-color: #fafafa;
}
.friends-names-display i{
    opacity:0.3;
}
.friends-names-display span{
    margin-inline: 6px;
    font-weight: 600;
    opacity:0.8;
}