.welcome-header{
    text-align: center;
    margin:85px 65px;
    margin-bottom:85px;
    overflow:hidden;
}
.welcome-header__title{
    font-size: 25px;
    font-weight: 600;
    margin-bottom:25px;
}
.welcome-header__text{
    color : rgba(0,0,0,0.4);
}
